.black-nav {
  display: flex;
  background: blanchedalmond;
  width: 100%;
  color: darkblue;
  padding-left: 20px;
}

div {
  box-sizing: border-box;
}

.list {
  padding-left: 20px;
  text-align: left;
  border-bottom: 1px solid rgb(160, 160, 160);
}

.modal {
  margin: 20px;
  padding: 20px;
  background: rgb(219, 219, 197);
  text-align: left;
}
